/Applications/
/'Applications (Parallels)'/
/Desktop/
/Documents/
/Downloads/
/iTerm2/
/javafx-sdk-22.0.2/
/Library/
/Movies/
/Music/
/Parallels/
/Pictures/
/Projects/
/Public/
/node_modules/
/package.json
